{% if include.location == " n" %}
    <img style="width: 50px; top: 18px; position: relative; margin-bottom: 25px" src="{{site.baseurl}}/assets/images/netflix.svg"/>
{% elsif include.location == " p" %}
    <img style="width: 50px; top: 12px; position: relative; margin-bottom: 10px"; src="{{site.baseurl}}/assets/images/prime.svg"/>
{% elsif include.location == " c" %}
    <img style="width: 50px" src="{{site.baseurl}}/assets/images/cinema.svg"/>
{% elsif include.location == " t" %}
    <img style="width: 50px" src="{{site.baseurl}}/assets/images/television.svg"/>
{% elsif include.location == " r" %}
    <img style="width: 50px; top: 18px; position: relative; margin-bottom: 18px;" src="{{site.baseurl}}/assets/images/rakuten.svg"/>
{% elsif include.location == " d" %}
    <img style="width: 50px; top: 10px; position: relative; margin-bottom: 8px;" src="{{site.baseurl}}/assets/images/disney.svg"/>
{% elsif include.location == " s" %}
    <img style="width: 50px; top: 17px; position: relative; margin-bottom: 26px;" src="{{site.baseurl}}/assets/images/nowtv.svg"/>
{% elsif include.location == " a" %}
    <img style="width: 50px; top: 17px; position: relative; margin-bottom: 26px;" src="{{site.baseurl}}/assets/images/plane.svg"/>
{% endif %}
