.date {
    position: relative;
    top: 39px;
    left: 110px;
    /*padding-left: 100px;*/
}

.big-dot {
    position: relative;
    bottom: 40px;
    left: 15px;
}

.list-chronological {
    width: 50%;
    text-align: right;
    /*display: inline-block;*/
    /*text-align: center;*/
    flex-wrap: wrap;
}

.item-chronological {
    text-align: right;
    /*margin: 10px auto;*/
    margin: 0 0 0 auto;
    padding: 10px;
    max-width: fit-content;
    border: 1px solid #111;
}

.item-chronologicalspan:first-child {
    font-weight: 500;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}

.item-chronological span:nth-child(2n) {
    display: block;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}
