.main {
    width: 100%;
}

.filter-wrap {
    box-sizing: border-box;
    padding: 10px;
}

#filter {
    font-size: 20px;
    padding: 8px 10px;
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.total {
    padding: 15px;
    font-weight: 500;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #111;
}

.item span:first-child {
    font-weight: 500;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}

.item span:nth-child(2n) {
    display: block;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}

.rating-6 {
    background: #209112;
    color: #fff;
}

/*.rating-9 {*/
/*    background: #479611;*/
/*    color: #fff;*/
/*}*/

.rating-5 {
    background: #669f11;
    color: #fff;
}

.rating-4 {
    background: #9bad0f;
    color: #fff;
}

.rating-3 {
    background: #dcb20e;
}

/*.rating-5 {*/
/*    background: #eb900d;*/
/*    color: #fff;*/
/*}*/

/*.rating-4 {*/
/*    background: #e17c0e;*/
/*    color: #fff;*/
/*}*/

.rating-2 {
    background: #c9550e;
    color: #fff;
}

/*.rating-2 {*/
/*    background: #ac290f;*/
/*    color: #fff;*/
/*}*/

.rating-1 {
    background: #9d100f;
    color: #fff;
}

.break {
    flex-basis: 100%;
    height: 0;
}
