<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include masthead.html %}
    <section class="main">
        {% assign rating_array = "" | split: ',' %}
        {% assign mydata = site.data.movie-ratings %}
        {% if page.dataset == "movies" %}
            {% assign ratings = site.data.movie-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% elsif page.dataset == "tv shows" %}
            {% assign mydata = site.data.tv-ratings %}
            {% assign ratings = site.data.tv-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% endif %}

        <div class="movie-top">
            <p class="total">Total {{ page.dataset }}: {{ mydata.size }}</p>


            {% if page.dataset == "movies" %}
            <div class="vertical-line"></div>

            <div class="list">
                    <p class="last5">Last 5 movies watched</p>
                    <div class="break"></div>
                    {% assign movies = site.data.movie-ratings | reverse  %}
                    {% for i in (0..4) %}
                        {% assign location=movies[i].Location %}
                        <div class="last-5-item rating-{{ movies[i].Rating | strip }}">
                            <span class="name">{{ movies[i].Name }}</span>
                            {% if movies[i].Rating == " 1" %}
                                <span class="rating">Hated</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% elsif movies[i].Rating == " 2" %}
                                <span class="rating">Disliked</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% elsif movies[i].Rating == " 3" %}
                                <span class="rating">Average</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% elsif movies[i].Rating == " 4" %}
                                <span class="rating">Liked</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% elsif movies[i].Rating == " 5" %}
                                <span class="rating">Loved</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% elsif movies[i].Rating == " 6" %}
                                <span class="rating">All Time Favourite</span>
                                <span class="rating">{{ movies[i].Date }}</span>
                                {% include location-icon.html location=location %}
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
            {% endif %}
        </div>

        <p class="filter-wrap"><input type="text" id="filter" onkeyup="filter()" placeholder="Search..." /></p>

        <div class="list">
            {% assign counter = 0 %}
            {% assign lastRating = " 6" %}
            {% for r in ratingsSorted %}
                {% assign ratingsTitleSorted = r.items | sort:'Name' %}
                {% for row in ratingsTitleSorted %}
                    {% assign counter = counter | plus:1 %}
                    {% assign currentRating = row.Rating %}
                    {% if row.Rating == " 1" %}
                        {% assign ratingValue = "Hated" %}
                    {% elsif row.Rating == " 2" %}
                        {% assign ratingValue = "Disliked" %}
                    {% elsif row.Rating == " 3" %}
                        {% assign ratingValue = "Average" %}
                    {% elsif row.Rating == " 4" %}
                        {% assign ratingValue = "Liked" %}
                    {% elsif row.Rating == " 5" %}
                        {% assign ratingValue = "Loved" %}
                    {% elsif row.Rating == " 6" %}
                        {% assign ratingValue = "God tier" %}
                    {% endif %}
                    {% if lastRating != row.Rating %}
                        <div class="break"></div>
                        {% assign lastRating = row.Rating %}
                        {% assign rating_array = rating_array | push: counter %}
                        {% assign counter = 0 %}
                    {% endif %}
                    <div class="item rating-{{ row.Rating | strip }}">
                        <span class="name">{{ row.Name }}</span>
                        <span class="rating">{{ ratingValue }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
            {% assign counter = counter | plus:1 %}
            {% assign rating_array = rating_array | push: counter %}
        </div>
        <div>
            <p class="bottom-rating-list">
                {% assign godlike_rating = rating_array[0] | minus:1 %}
                God Tier: {{ godlike_rating }} | Loved: {{ rating_array[1] }} | Liked: {{ rating_array[2] }} | Average: {{ rating_array[3] }} | Disliked: {{ rating_array[4] }} | Hated: {{ rating_array[5] }}
            </p>
        </div>
    </section>

    <script>
        function filter() {
            const filterValue = document.getElementById('filter').value.toUpperCase();
            const items = document.getElementsByClassName('item');

            for (i = 0; i < items.length; i++) {
                const item = items[i].children[0].textContent || items[i].children[0].innerText;
                if (item.toUpperCase().indexOf(filterValue) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }

        async function getExternalIp() {
            const url = "https://api.ipify.org?format=json";
            let ipAddress = "";
            try {
                await fetch(url)
                    .then(res => res.json())
                    .then(res => ipAddress = res.ip);
            } catch (err) {
                console.log(`Error: ${err}`)
            }
            return ipAddress;
        }

        async function sendTracker() {
            const ip = await getExternalIp();
            const platform = `${navigator.platform}, ${navigator.vendor}`;
            const site = "movie-list";
            const url = `https://maker.ifttt.com/trigger/site_visited/with/key/b_Yu8_AU_JIDYDYR_WXF5-?value1=${ip}&value2=${platform}&value3=${site}`;
            const xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
        }

        sendTracker();
    </script>
</body>
</html>
