<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include masthead.html %}
    <section class="main">
        {% assign mydata = site.data.movie-ratings %}
        {% if page.dataset == "movies" %}
        {% assign mydata = (site.data.movie-ratings | sort:'Rating') | reverse %}
        {% elsif page.dataset == "tv shows" %}
        {% assign mydata = (site.data.tv-ratings | sort:'Rating') | reverse %}
        {% endif %}

        <p class="total">Total {{ page.dataset }}: {{ mydata.size }}</p>

        <p class="filter-wrap"><input type="text" id="filter" onkeyup="filter()" placeholder="Search..." /></p>

        <div class="list">
            {% for row in mydata %}
            <div class="item rating-{{ row.Rating | strip }}">
                <span class="name">{{ row.Name }}</span>
                <span class="rating">{{ row.Rating }}</span>
            </div>
            {% endfor %}
        </div>
    </section>

    <script>
        function filter() {
            const filterValue = document.getElementById('filter').value.toUpperCase();
            const items = document.getElementsByClassName('item');

            for (i = 0; i < items.length; i++) {
                const item = items[i].children[0].textContent || items[i].children[0].innerText;
                if (item.toUpperCase().indexOf(filterValue) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>